kbd {
    background: #e3e3e3;
    border-radius: 3px;
    padding: 2px 7px;
}

#notif {
    position: fixed;
    right: 16px;
    top: 14px;
    min-width: 110px;
    background: #1c72d2;
    color: #fff;
    padding: 5px 18px;
    border-radius: 9px;
    font-size: 16px;
    z-index: 99999;
    opacity: 0.92;
    transition: opacity 0.4s;
    display: none;
    box-shadow: 0 4px 18px #247ac926;
    text-align: center;
}

#importBox {
    width: 240px;
    height: 40px;
    margin-left: 14px;
    vertical-align: middle;
    display: none;
}

#importApply {
    margin-left: 2px;
    vertical-align: middle;
    display: none;
}

.form-inline-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 20px;
    align-items: center;
    margin-bottom: 10px;
}

.propTitle {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.drop-indicator {
    pointer-events: none;
}

.drop-indicator-left {
    top: 0;
    left: 0;
    bottom: 0;
    width: 4px;
    background: #2196f3cc;
    border-radius: 2px 0 0 2px;
}

.drop-indicator-right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 4px;
    background: #2196f3cc;
    border-radius: 0 2px 2px 0;
}

.drop-indicator-top {
    left: 0;
    right: 0;
    top: 0;
    height: 4px;
    background: #2196f3cc;
    border-radius: 2px 2px 0 0;
}

.drop-indicator-bottom {
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background: #2196f3cc;
    border-radius: 0 0 2px 2px;
}

.context-menu {
    position: absolute;
    background: #fff;
    border: 1px solid #aaa;
    z-index: 200 !important;
    box-shadow: 1px 2px 4px #bbb;
    display: none;
    font-size: 14px;
}

.context-menu li {
    list-style: none;
    padding: 5px 15px;
    cursor: pointer;
}

.context-menu li:hover {
    background: #f0f0ff;
}