#mockup-area {
    flex: 1 1 0;
    overflow: auto;
    min-height: 0;
    background: #fff !important;
    border-bottom: 1px solid #ccc !important;
    padding: 10px;
    position: relative;
    color: #111 !important;
}

#mockup-area * {
    border: 2px dashed #bbb;
    padding: 6px 12px;
    box-sizing: border-box;
}

.wire-elem {
    position: relative;
    min-width: 40px;
    min-height: 22px;
    margin: 5px;
    cursor: move;
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    padding: 6px 12px;
    border: 2px dashed #bbb;
}

.wire-elem.selected {
    border: 2px solid #2b9af3 !important;
    background: #e0f2ff;
}

.resize-handle {
    transition: background 0.18s;
}

.resize-handle:hover {
    background: #0cf;
}

.resizable-container:hover .resize-handle {
    display: block;
}

.resize-handle {
    display: none;
}

.resizable-container.selected .resize-handle {
    display: block !important;
}

.wire-elem.resizable-container {
    display: flex;
    flex-direction: row;
    /* You can expose controls to toggle row/column if desired */
    align-items: flex-start;
    gap: 7px;
}